* {
    border: 1px solid red;
} 

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header {
   background-color: black; 
   color: white;
   
}

h3 {
    margin-left: 180px;

}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
    margin-right: 249px;
}

a {
   color: white; 
    
}

section {
    display: flex;
    background-color: black;
    align-items: center;
    height: 33%;
}

.hd-wrapper {
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
    margin-right: 75px;
    margin-top: 0px;
    margin-left: 95px;
    width: 425px;
    height: 200px;
}

.hero {
    color: white;
    background-color: black;
    display: flex;
    flex: 1 200px;
    width: 100%;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 85px;
    margin-right: 45px;
    margin-bottom: 45px;
}


h2 {
    display: flex;
    margin-bottom: -95px;
    
}
p {
    font-size: 18px;
    width: 400px;
    flex: 1;
    margin: 25px;  
    margin-left: -.5px; 
    display: flex;
}


.img-wrapper {
    display: flex;
    background-color: grey;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 85px;
    display: flex;
    width: 300px;
    height: 135px;
}

.bt-wrapper {
    margin-top: -16px;
    display: flex;
}

button {
    background-color: #3882f6;
    color: white;

}

.main {
    display: flex;
}

.wrapper-2 {
    display: flex;
    justify-content: center;
    height: 75px;
}

h1 {
  height: 25px;

} 

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-wrapper {
    display: flex;
    justify-content: center;
}

.modal {
    background-color: #3882f6;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 55px;
    width: 525px;
    flex-direction: column;
    align-items: flex-start;
}
.text-1 {
    font-weight: bold;
    font-size: 14px;
    margin-left: 65px;
}

.second {
    display: flex;
    height: 55px;
}

.text-2 {
    font-size: 10px;
    margin-left: 65px;
}

.button-2 {
    align-self: flex-end;
    margin-right: 10px;
    margin-top: -25px;
    
}

/* .bt-wrapper-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
} */